In [40]:
import pandas as pd
from sqlalchemy import create_engine, text
from sqlalchemy.exc import SQLAlchemyError

In [41]:
coffe_sales_df = pd.read_csv("data/coffe_sales.csv")
coffe_sales_df

,Date,Customer_ID,City,Category,Product,Unit Price,Quantity,Sales Amount,Used_Discount,Discount_Amount,Final Sales
0,1/1/2023,32,Riyadh,coffee beans,Colombian,40,14,560,False,0,560
1,1/2/2023,49,Abha,coffee beans,Costa Rica,35,17,595,False,0,595
2,1/3/2023,75,Tabuk,coffee beans,Costa Rica,35,19,665,False,0,665
3,1/4/2023,80,Abha,coffee beans,Ethiopian,45,1,45,False,0,45
4,1/5/2023,78,Hail,coffee beans,Colombian,40,46,1840,True,368,1472
...,...,...,...,...,...,...,...,...,...,...,...
725,12/26/2024,4,Hail,coffee beans,Colombian,40,26,1040,False,0,1040
726,12/27/2024,63,Mecca,coffee beans,Colombian,40,10,400,False,0,400
727,12/28/2024,39,Abha,coffee beans,Costa Rica,35,47,1645,False,0,1645
728,12/29/2024,57,Tabuk,coffee beans,Ethiopian,45,3,135,True,27,108
729,12/30/2024,50,Medina,coffee beans,Brazilian,30,33,990,True,198,792

In [42]:
coffe_sales_df['Date'] = pd.to_datetime(coffe_sales_df['Date'])
coffe_sales_df['Date'] = coffe_sales_df['Date'].dt.strftime("%d/%m/%Y")

In [43]:
coffe_sales_df[['Unit Price', 'Sales Amount', 'Discount_Amount', 'Final Sales']] = coffe_sales_df[['Unit Price', 'Sales Amount', 'Discount_Amount', 'Final Sales']].astype(float)

In [44]:
novos_nomes = ["date","customer_id","city","category","product_name","unit_price","quantity","sales_amount","used_discount","discount_amount","final_sales"]

In [46]:
coffe_sales_df.columns = novos_nomes
customers_df = coffe_sales_df[["customer_id", "city"]]

products_df = coffe_sales_df[["category", "product_name", "unit_price"]]

print(products_df)

         category product_name  unit_price
0    coffee beans    Colombian        40.0
1    coffee beans   Costa Rica        35.0
2    coffee beans   Costa Rica        35.0
3    coffee beans    Ethiopian        45.0
4    coffee beans    Colombian        40.0
..            ...          ...         ...
725  coffee beans    Colombian        40.0
726  coffee beans    Colombian        40.0
727  coffee beans   Costa Rica        35.0
728  coffee beans    Ethiopian        45.0
729  coffee beans    Brazilian        30.0

[730 rows x 3 columns]

In [38]:
# Criar a conexão com o banco de dados PostgreSQL
engine = create_engine('postgresql://postgres:1234@localhost:5432/coffe_sales_db')

In [31]:
try:
    # Usar uma única conexão para toda a operação
    with engine.connect() as connection:
        # Iniciar transação explícita
        trans = connection.begin()
        
        temp_table_name = 'temp_customers'

        # 1. Criar tabela temporária usando DDL explícito (somente 'city')
        create_temp_table = text(f"""
            CREATE TEMPORARY TABLE {temp_table_name} (
                city VARCHAR(20)
            )
        """)
        connection.execute(create_temp_table)

        # 2. Inserir dados do DataFrame
        if not customers_df.empty:
            # Converter para lista de dicionários
            data = customers_df[['city']].to_dict(orient='records')
            
            # Inserção em lote
            connection.execute(
                text(f"""
                    INSERT INTO {temp_table_name} (city)
                    VALUES (:city)
                """),
                data
            )

        # 3. Fazer upsert na tabela principal (somente 'city')
        upsert_query = text(f"""
            INSERT INTO customers (city)
            SELECT city FROM {temp_table_name}
        """)
        connection.execute(upsert_query)

        # Commit final
        trans.commit()
        print("Operação concluída com sucesso!")

except SQLAlchemyError as e:
    print(f"Erro na operação: {e}")
    # O rollback é automático com o context manager 'with'

finally:
    engine.dispose()

Operação concluída com sucesso!

In [39]:
try:
    # Usar uma única conexão para toda a operação
    with engine.connect() as connection:
        # Iniciar transação explícita
        trans = connection.begin()
        
        temp_table_name = 'temp_products'

        # 1. Criar tabela temporária usando DDL explícito (somente 'category', 'product_name', 'unit_price')
        create_temp_table = text(f"""
            CREATE TEMPORARY TABLE {temp_table_name} (
                category VARCHAR(25),
                product_name VARCHAR(25),
                unit_price NUMERIC(10,2)
            )
        """)
        connection.execute(create_temp_table)

        # 2. Inserir dados do DataFrame
        if not products_df.empty:
            # Converter para lista de dicionários
            data = products_df[['category', 'product_name', 'unit_price']].to_dict(orient='records')
            
            # Inserção em lote
            connection.execute(
                text(f"""
                    INSERT INTO {temp_table_name} (category, product_name, unit_price)
                    VALUES (:category, :product_name, :unit_price)
                """),
                data
            )

        # 3. Fazer upsert na tabela principal (somente 'category', 'product_name', 'unit_price')
        upsert_query = text(f"""
            INSERT INTO products (category, product_name, unit_price)
            SELECT category, product_name, unit_price FROM {temp_table_name}
        """)
        connection.execute(upsert_query)

        # Commit final
        trans.commit()
        print("Operação concluída com sucesso para a tabela 'products'!")

except SQLAlchemyError as e:
    print(f"Erro na operação: {e}")
    # O rollback é automático com o context manager 'with'

finally:
    engine.dispose()

Operação concluída com sucesso para a tabela 'products'!

In [23]:
coffe_sales_df

,date,customer_id,city,category,product,unit_price,quantity,sales_amount,used_discount,discount_amount,final_sales
0,01/01/2023,32,Riyadh,coffee beans,Colombian,40.0,14,560.0,False,0.0,560.0
1,02/01/2023,49,Abha,coffee beans,Costa Rica,35.0,17,595.0,False,0.0,595.0
2,03/01/2023,75,Tabuk,coffee beans,Costa Rica,35.0,19,665.0,False,0.0,665.0
3,04/01/2023,80,Abha,coffee beans,Ethiopian,45.0,1,45.0,False,0.0,45.0
4,05/01/2023,78,Hail,coffee beans,Colombian,40.0,46,1840.0,True,368.0,1472.0
...,...,...,...,...,...,...,...,...,...,...,...
725,26/12/2024,4,Hail,coffee beans,Colombian,40.0,26,1040.0,False,0.0,1040.0
726,27/12/2024,63,Mecca,coffee beans,Colombian,40.0,10,400.0,False,0.0,400.0
727,28/12/2024,39,Abha,coffee beans,Costa Rica,35.0,47,1645.0,False,0.0,1645.0
728,29/12/2024,57,Tabuk,coffee beans,Ethiopian,45.0,3,135.0,True,27.0,108.0
729,30/12/2024,50,Medina,coffee beans,Brazilian,30.0,33,990.0,True,198.0,792.0