In [1]:
import pandas as pd

In [2]:
coffee_sales_df = pd.read_csv("data/coffe_sales.csv")
print(coffee_sales_df)

           Date  Customer_ID    City      Category     Product  Unit Price  \
0      1/1/2023           32  Riyadh  coffee beans   Colombian          40
1      1/2/2023           49    Abha  coffee beans  Costa Rica          35
2      1/3/2023           75   Tabuk  coffee beans  Costa Rica          35
3      1/4/2023           80    Abha  coffee beans   Ethiopian          45
4      1/5/2023           78    Hail  coffee beans   Colombian          40
..          ...          ...     ...           ...         ...         ...
725  12/26/2024            4    Hail  coffee beans   Colombian          40
726  12/27/2024           63   Mecca  coffee beans   Colombian          40
727  12/28/2024           39    Abha  coffee beans  Costa Rica          35
728  12/29/2024           57   Tabuk  coffee beans   Ethiopian          45
729  12/30/2024           50  Medina  coffee beans   Brazilian          30

     Quantity  Sales Amount  Used_Discount  Discount_Amount  Final Sales
0          14           560          False                0          560
1          17           595          False                0          595
2          19           665          False                0          665
3           1            45          False                0           45
4          46          1840           True              368         1472
..        ...           ...            ...              ...          ...
725        26          1040          False                0         1040
726        10           400          False                0          400
727        47          1645          False                0         1645
728         3           135           True               27          108
729        33           990           True              198          792

[730 rows x 11 columns]

In [3]:
coffee_sales_df['Date'] = pd.to_datetime(coffee_sales_df['Date'])
coffee_sales_df['Date'] = coffee_sales_df['Date'].dt.strftime("%d/%m/%Y")

In [4]:
coffee_sales_df[['Unit Price', 'Sales Amount', 'Discount_Amount', 'Final Sales']] = coffee_sales_df[['Unit Price', 'Sales Amount', 'Discount_Amount', 'Final Sales']].astype(float)

In [5]:
novos_nomes = ["date","customer_id","city","category","product","unit_price","quantity","sales_amount","used_discount","discount_amount","final_sales"]

In [6]:
coffee_sales_df.columns = novos_nomes

In [7]:
coffee_sales_df["used_discount"].astype(bool)

print(coffee_sales_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             730 non-null    object
 1   customer_id      730 non-null    int64
 2   city             730 non-null    object
 3   category         730 non-null    object
 4   product          730 non-null    object
 5   unit_price       730 non-null    float64
 6   quantity         730 non-null    int64
 7   sales_amount     730 non-null    float64
 8   used_discount    730 non-null    bool
 9   discount_amount  730 non-null    float64
 10  final_sales      730 non-null    float64
dtypes: bool(1), float64(4), int64(2), object(4)
memory usage: 57.9+ KB
None

In [9]:
print(coffee_sales_df.isnull().sum())
print(coffee_sales_df.shape)

date               0
customer_id        0
city               0
category           0
product            0
unit_price         0
quantity           0
sales_amount       0
used_discount      0
discount_amount    0
final_sales        0
dtype: int64
(730, 11)

In [12]:
coffee_sales_df.describe()

,customer_id,unit_price,quantity,sales_amount,discount_amount,final_sales
count,730.000000,730.000000,730.000000,730.000000,730.000000,730.000000
mean,51.669863,36.794521,26.080822,959.924658,97.393151,862.531507
std,29.014339,4.955104,14.480971,551.282730,123.401350,509.032315
min,1.000000,30.000000,1.000000,30.000000,0.000000,24.000000
25%,27.250000,35.000000,14.000000,495.000000,0.000000,448.000000
50%,52.000000,35.000000,27.000000,960.000000,13.000000,840.000000
75%,77.000000,40.000000,39.000000,1400.000000,192.000000,1260.000000
max,100.000000,45.000000,49.000000,2205.000000,441.000000,2205.000000

In [18]:
import psycopg2

In [19]:
# Realizando a conexão
conn_params = {
    'dbname': 'coffe_sales_db',
    'user': 'postgres',
    'password': '1234',
    'host': 'localhost',  # Exemplo: 'localhost' ou IP do servidor
    'port': '5432'  # Normalmente 5432 para PostgreSQL
}

In [ ]:
# conn = psycopg2.connect(**conn_params)
# print(conn.info)
# print(conn.status)

<psycopg2.extensions.ConnectionInfo object at 0x0000020F3C79A130>
1

In [ ]:
# # Criar um cursor para executar comandos SQL
# cursor = conn.cursor()

# # Definir a query para criar a nova tabela
# query = '''CREATE TABLE zip_codes (NU_NOTIFIC INTEGER PRIMARY KEY,TP_NOT INTEGER,ID_AGRAVO CHAR(3),DT_NOTIFIC DATE);   '''

# # Executar a query para criar a nova tabela
# cursor.execute(query)

# # Confirmar a operação (commit) para salvar as alterações
# conn.commit()
# print("Tabela criada com sucesso.")

<psycopg2.extensions.ConnectionInfo object at 0x0000020F3B3D7AB0>
1
Tabela criada com sucesso.

In [ ]:
# query = "SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';"
# tables = pd.read_sql(query, conn)
# print(tables)

           table_name
0  coffee_beans_sales

C:\Users\jaoao\AppData\Local\Temp\ipykernel_7324\3933302559.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tables = pd.read_sql(query, conn)

In [ ]:
# # Query para exluir tabelas
# copy_query = f'''
#     DROP TABLE zip_codes
#     '''

# # Executar a query COPY
# cursor.execute(copy_query)

# # Confirmar a operação (commit) para salvar as alterações
# conn.commit()

In [ ]:
# coffee_sales_db = pd.read_sql('SELECT * FROM coffee_beans_sales', conn)

C:\Users\jaoao\AppData\Local\Temp\ipykernel_7324\2605263560.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  coffee_sales_db = pd.read_sql('SELECT * FROM coffee_beans_sales', conn)

,id,date,customer_id,city,category,product,unit_price,quantity,sales_amount,used_discount,discount_amount,final_sales
0,1,2023-01-01,32,Riyadh,coffee beans,Colombian,40.0,14,560.0,False,0.0,560.0
1,2,2023-01-02,49,Abha,coffee beans,Costa Rica,35.0,17,595.0,False,0.0,595.0
2,3,2023-01-03,75,Tabuk,coffee beans,Costa Rica,35.0,19,665.0,False,0.0,665.0
3,4,2023-01-04,80,Abha,coffee beans,Ethiopian,45.0,1,45.0,False,0.0,45.0
4,5,2023-01-05,78,Hail,coffee beans,Colombian,40.0,46,1840.0,True,368.0,1472.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,2024-12-26,4,Hail,coffee beans,Colombian,40.0,26,1040.0,False,0.0,1040.0
1456,1457,2024-12-27,63,Mecca,coffee beans,Colombian,40.0,10,400.0,False,0.0,400.0
1457,1458,2024-12-28,39,Abha,coffee beans,Costa Rica,35.0,47,1645.0,False,0.0,1645.0
1458,1459,2024-12-29,57,Tabuk,coffee beans,Ethiopian,45.0,3,135.0,True,27.0,108.0
1459,1460,2024-12-30,50,Medina,coffee beans,Brazilian,30.0,33,990.0,True,198.0,792.0